<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title><%= title %></title>
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      .container {
        margin: 100px auto;
        max-width: 600px;
        padding: 50px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      h1 {
        color: #0066cc;
        font-size: 36px;
        margin-bottom: 30px;
      }
      p {
        font-size: 24px;
        margin-bottom: 30px;
      }
      .redirect {
        font-size: 18px;
        color: #666;
      }
      .redirect span {
        color: #0066cc;
        font-weight: bold;
      }

      .tick {
        width: 100px;
        height: 100px;
        background-image: url("/images/tick.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 50px auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title">¡<%= title %>!</h1>
      <p>Se ha confirmado el pedido.</p>
      <div class="tick"></div>
      <p class="redirect">Serás redirigido a la página de pedidos en <span id="countdown">3</span> segundos.</p>
    </div>
    <script>
      let countdown = 3;
      setInterval(() => {
        countdown--;
        if (countdown <= 0) {
          window.location.href = '/pedidos';
        } else {
          document.getElementById('countdown').innerText = countdown;
        }
      }, 1000);
    </script>
  </body>
</html>
