<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Error</title>
    <style>
      body {
        background-color: #f7b4b4;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        color: #f34f4f;
        font-size: 3rem;
        margin-top: 3rem;
      }
      p {
        color: #af3636;
        font-size: 1.5rem;
        margin-top: 2rem;
      }
      img {
        margin-top: 2rem;
        width: 50%;
        max-width: 600px;
      }
    </style>
  </head>
  <body>
    <div class="error-container">
        <h1>¡Oops! Algo ha ido mal...</h1>
        <p>Lo sentimos, ha ocurrido un error.</p>
        <a style="background-color: #d10000;
            display: inline-block;
            padding: 8px 16px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            color: #fff;" href="/">
            Volver
        </a>
    </div>
  </body>
</html>
