<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>CORREO ENVIADO</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
      body {
        background-color: #44a9fc;
        font-family: Arial, sans-serif;
      }
      .container {
        margin: 100px auto;
        max-width: 600px;
        padding: 50px;
        background-color: #209bff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      h1 {
        color: #013c77;
        font-size: 36px;
        margin-bottom: 30px;
      }
      p {
        font-size: 24px;
        margin-bottom: 30px;
      }
      .redirect {
        font-size: 18px;
        color: #eeeeee;
      }
      .redirect span {
        color: #013c77;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container" style="text-align: center;">
      <h1 class="title">¡CORREO ENVIADO!</h1>
      <p class="redirect">Serás redirigido a la página de logni en <span id="countdown">3</span> segundos.</p>
    </div>
    <script>
      let countdown = 3;
      setInterval(() => {
        countdown--;
        if (countdown <= 0) {
          window.location.href = '/';
        } else {
          document.getElementById('countdown').innerText = countdown;
        }
      }, 1000);
    </script>
  </body>
</html>
