<!DOCTYPE html>
<html>
  <head>
    <title>PROCESANDO PEDIDO</title>
  </head>
  <body>
    <h1>PROCESANDO PEDIDO</h1>
    <form action="/purchase" method="POST">
      <input type="hidden" name="plateId" value="<%= plate.id %>">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
      <br>
      <label for="direccion">Direccion:</label>
      <input type="text" id="direccion" name="direccion" required>
      <br>
      <label for="telefono">Telef贸no:</label>
      <input type="tel" id="telefono" name="telefono" required>
      <br>
      <h3>Elige tu direcci贸n</h3>
      <div>
        <input type="radio" id="defaultDireccion" name="deliveryDirection" value="default" checked>
        <label for="defaultDireccion">Usar la direcci贸n por defecto</label>
      </div>
      <div>
        <input type="radio" id="newDireccion" name="deliveryDirection" value="new">
        <label for="newDireccion">Nueva direcci贸n:</label>
        <br>
        <label for="newMunicipio">Municipio:</label>
        <input type="text" id="newMunicipio" name="newMunicipio">
        <br>
        <label for="newDireccionCity">City:</label>
        <input type="text" id="newDireccionCity" name="newDireccionCity">
        <br>
        <label for="newDireccionState">State:</label>
        <input type="text" id="newDireccionState" name="newDireccionState">
        <br>
        <label for="newDireccionZip">Zip:</label>
        <input type="text" id="newDireccionZip" name="newDireccionZip">
      </div>
      <br>
      <button type="submit">Submit Order</button>
    </form>
  </body>
</html>
