<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <h1>RESTAURANTES</h1>
    <div class="user-info">
        <span>Usuario: <%= user %></span>
        <form method="POST" action="/logout">
          <button type="submit">Cerrar sesión</button>
        </form>
    </div>
    <% if (restaurants.length > 0) { %>
      <ul>
        <% restaurants.forEach(restaurant => { %>
          <li>
            <a href="/plates/<%= restaurant.id %>"><%= restaurant.nombre %></a>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No restaurants found.</p>
    <% } %>
  </body>
</html>
